In [136]:
import random
import pandas as pd
import numpy as np

In [137]:
#Define values
majors=['Computer Science', 'Mathematics', 'Physics', 'Engineering', 'Biology']
graduation_years=list(range(2025, 2030))

In [138]:
#Generate rows and random data 
num_rows=50
data={
    "Student_ID": [random.randint(1000, 9999) for _ in range(num_rows)],
    "Score": [round(random.uniform(20, 100),2) for _ in range(num_rows)],
    "Major": [random.choice(majors) for _ in range(num_rows)],
    "Graduation_Year": [random.choice(graduation_years) for _ in range(num_rows)],
    "Pass/Fail": [random.choice([True, False]) for _ in range(num_rows)]
}

In [139]:
#Convert to DataFrame
df=pd.DataFrame(data)
print(df.dtypes)

Student_ID           int64
Score              float64
Major               object
Graduation_Year      int64
Pass/Fail             bool
dtype: object

In [140]:
#Print first 5 rows
print(df.head(5))

   Student_ID  Score        Major  Graduation_Year  Pass/Fail
0        8933  83.85  Engineering             2025      False
1        7355  42.05  Engineering             2025       True
2        8450  66.45  Engineering             2029       True
3        2647  21.39  Engineering             2025      False
4        5038  78.07  Mathematics             2028       True

In [141]:
#Print last 5 rows
print(df.tail(5))

    Student_ID  Score             Major  Graduation_Year  Pass/Fail
45        8742  98.78       Engineering             2025      False
46        4688  84.47       Engineering             2025       True
47        1597  90.84  Computer Science             2027      False
48        4920  34.12           Physics             2027      False
49        7231  47.54       Engineering             2029       True

In [142]:
#Print column names and data types
print(df.info(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Student_ID       50 non-null     int64
 1   Score            50 non-null     float64
 2   Major            50 non-null     object
 3   Graduation_Year  50 non-null     int64
 4   Pass/Fail        50 non-null     bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 1.7+ KB
None

In [143]:
#Generate descriptive statistics 
display(df.describe())

        Student_ID      Score  Graduation_Year
count    50.000000  50.000000        50.000000
mean   6275.260000  58.217000      2027.020000
std    2495.556752  25.957229         1.504958
min    1597.000000  21.390000      2025.000000
25%    4704.500000  30.347500      2026.000000
50%    7121.000000  57.575000      2027.000000
75%    8669.000000  83.080000      2028.000000
max    9915.000000  98.780000      2029.000000

In [144]:
#Find the number of unique values in a categorical column (Score)
print(df["Score"].nunique())

50

In [145]:
#Score Conversion method
def converter(score):
    if score>=90: 
        return "A"
    elif score>=80: 
        return "B"
    elif score>=70: 
        return "C"
    elif score>=60: 
        return "D"
    else: 
        return "F"

In [146]:
#Create new letter grade column
df["Letter_Grade"]=df["Score"].apply(to_letter_grade)

In [147]:
#Print new colum
display(df.head(5))

   Student_ID  Score        Major  Graduation_Year  Pass/Fail Letter_Grade
0        8933  83.85  Engineering             2025      False            B
1        7355  42.05  Engineering             2025       True            F
2        8450  66.45  Engineering             2029       True            D
3        2647  21.39  Engineering             2025      False            F
4        5038  78.07  Mathematics             2028       True            C

In [148]:
#Save Table with 6 or more Columns to CSV
df.to_csv("students_information.csv", index=False)