In [104]:
import random
import pandas as pd
import numpy as np

In [105]:
#Define values
majors=['Computer Science', 'Mathematics', 'Physics', 'Engineering', 'Biology']
graduation_years=list(range(2025, 2030))

In [106]:
#Generate rows and random data 
num_rows=50
data={
    "Student_ID": [random.randint(1000, 9999) for _ in range(num_rows)],
    "Score": [round(random.uniform(20, 100),2) for _ in range(num_rows)],
    "Major": [random.choice(majors) for _ in range(num_rows)],
    "Graduation_Year": [random.choice(graduation_years) for _ in range(num_rows)],
    "Pass/Fail": [random.choice([True, False]) for _ in range(num_rows)]
}

In [107]:
#Convert to DataFrame
df=pd.DataFrame(data)
print(df.dtypes)

Student_ID           int64
Score              float64
Major               object
Graduation_Year      int64
Pass/Fail             bool
dtype: object

In [108]:
#Print first 5 rows
print(df.head(5))

   Student_ID  Score             Major  Graduation_Year  Pass/Fail
0        6842  41.68       Engineering             2025      False
1        5456  40.07       Engineering             2025      False
2        5366  41.47  Computer Science             2027      False
3        1727  57.06  Computer Science             2026      False
4        2528  62.88  Computer Science             2029      False

In [109]:
#Print last 5 rows
print(df.tail(5))

    Student_ID  Score             Major  Graduation_Year  Pass/Fail
45        4602  64.47  Computer Science             2028      False
46        2912  50.26           Biology             2026      False
47        3925  85.09       Engineering             2027       True
48        6833  33.07           Biology             2029      False
49        1819  98.88       Mathematics             2025      False

In [110]:
#Print column names and data types
print(df.dtypes)

Student_ID           int64
Score              float64
Major               object
Graduation_Year      int64
Pass/Fail             bool
dtype: object

In [111]:
#Generate descriptive statistics 
display(df.describe())

        Student_ID      Score  Graduation_Year
count    50.000000  50.000000        50.000000
mean   5519.760000  58.134800      2027.160000
std    2700.564307  22.871194         1.433705
min    1498.000000  21.170000      2025.000000
25%    3121.750000  38.157500      2026.000000
50%    5386.000000  57.525000      2027.000000
75%    8185.500000  76.870000      2028.750000
max    9976.000000  98.880000      2029.000000

In [112]:
#Find the number of unique values in a categorical column (Score)
print(df["Score"].nunique())

50

In [113]:
#Score Conversion method
def converter(score):
    if score>=90: 
        return "A"
    elif score>=80: 
        return "B"
    elif score>=70: 
        return "C"
    elif score>=60: 
        return "D"
    else: 
        return "F"

In [114]:
#Create new letter grade column
df["Letter_Grade"]=df["Score"].apply(to_letter_grade)

In [115]:
#Print new colum
display(df.head(5))

,Student_ID,Score,Major,Graduation_Year,Pass/Fail,Letter_Grade
0,6842,41.68,Engineering,2025,False,F
1,5456,40.07,Engineering,2025,False,F
2,5366,41.47,Computer Science,2027,False,F
3,1727,57.06,Computer Science,2026,False,F
4,2528,62.88,Computer Science,2029,False,D

In [116]:
#Save Table with 6 or more Columns to CSV
df.to_csv("students_information.csv", index=False)